<a href="https://colab.research.google.com/github/karldeguzman32/Pyrates-AIDA/blob/main/58025_Pyrates_Revisiting_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Welcome to the Pyrate Ship, Ahoy!** ðŸ´â€â˜ ï¸
![pyrate](https://github.com/karldeguzman32/Pyrates-AIDA/blob/main/Pyrate.png?raw=true)
##***Pirate Crew*** ðŸ¦œ
#####Captain: Karl Adrian de Guzman
Quartermasters: 
Ed Mark David, Lino Carlo Gamban, Khent Harvey Lachica

---

#***Lecture Deck*** ðŸ“œ


---

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types
Variables are used to store data values

In [ ]:
#assigning a variable
shoe = 'adidas' 
#knowing the data type
type(shoe)
#printing the variable
shoe
print(f"I love wearing my {shoe}")

I love wearing my adidas

In [ ]:
number = 23
type(number)

int

In [ ]:
#converting the data type
string_number = str(number)
type(string_number)

str

In [ ]:
#assigning multiple variable
str, int, bool = 'Hello', 10, True
print(f'{str}, {int}, {bool}')

Hello, 10, True

## Operations

### Arithmetic

In [ ]:
#assigning value to the variable
z,x,c,v = 7, 25, 37, 5

In [ ]:
#Adding operation
A = z+c
A

In [ ]:
#Subtracting variable
S = x-c
S

In [ ]:
#Multiplying variable
M = x*v
M

In [ ]:
### Division
Q = c/a
Q

In [ ]:
### Floor Division
Fq = a//b
Fq

In [ ]:
### Exponentiation
E = a**b
E

In [ ]:
### Modulo
mod = d%a
mod

In [ ]:
#Multiple Operations
a, b, c, d = 5, 10, 15, 20
ans = ((a+b) * (d-c))/a
ans

15.0

### Assignment Operations

In [ ]:
#Addition Assignment Operator
L , M = 1, 1
L += M
L

2

In [ ]:
#Subtraction Assignment Operator
N , P = 5, 2
N -= P
N

3

In [ ]:
#Multiplication Assignment Operator
M = 3
M *= M
M

9

In [ ]:
#Exponential Assignment Operator
P = 4
P **= 2
P

16

In [ ]:
#Modulus Assignment Operator
N = 2
N %= 5
N

2

In [ ]:
#Division Assignment Operator
d1 , d2 = 12, 14
d1 /= d2/7
d1

6.0

In [ ]:
#Floor Division Assignment Operator
Q = 8
Q //= 2
Q

4

### Comparators

In [ ]:
#assigning a variable
cmpr1, cmpr2, cmpr3 = 1, 2.0, "1"
string1 = 'Hello World'
string2 = 'hello world'

In [ ]:
#Equality Comparators
cmpr1 == 1.0

True

In [ ]:
string1 == string2

False

In [ ]:
#Non-equality Comparators
cmpr2 != 5
cmpr1 != cmpr3

True

In [ ]:
cmpr1 != cmpr3

True

In [ ]:
string1 != string2

True

In [ ]:
cmpr4 = 1
cmpr4 >= 2

False

In [ ]:
cmpr4 <= 1

True

In [ ]:
cmpr4 > 1

False

In [ ]:
cmpr4 < cmpr2

True

### Logical

In [ ]:
j = True
k = False

In [ ]:
#Logical AND
and1 = j and k
print("j and k is: ", and1)

j and k is:  False

In [ ]:
#Logical OR
or1 = j or k
print("j or k is: ", or1)

j or k is:  True

In [ ]:
#Logical NOT
not1 = j is not k
print("j not k is: ", not1)

j not k is:  True

In [ ]:
#The condition is True and False, therefore it is False
j1 = 5
j2 = '5'
jj = j1==5 and j2==5
jj

False

### I/O

In [ ]:
name = 'Ed Mark David'
print("My name is", name,"! Nice to meet you!")

My name is Ed Mark David ! Nice to meet you!

In [ ]:
rating = 8.58
print("My rating is {:.2} for the movie Godzilla: King of the Monsters".format(rating))

My rating is 8.6 for the movie Godzilla: King of the Monsters

In [ ]:
#eDPI calculator
name = input("Your name: ")
dpi = float(input("Your DPI: "))
ig_sense = float(input("Your In-game sensitivity: "))
e_dpi = float(dpi*ig_sense)

print("Hello {}! your eDPI is: {}".format(name,e_dpi))

Your name: Ed
Your DPI: 800
Your In-game sensitivity: 0.614
Hello Ed! your eDPI is: 491.2

# Looping Statements

## While

In [ ]:
## Counting backwards using While loop
count = 10
while count>0:
  print(count)
  count = count - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
## Counting forward using While loop
count = 1
while count<11:
  print(count)
  count = count + 1

1
2
3
4
5
6
7
8
9
10

## For

In [ ]:
## Counting backwards using For loop
for count in range(10,0,-1):
  print(count)

10
9
8
7
6
5
4
3
2
1

In [ ]:
## Counting forward using For loop
for count in range(1, 11):
  print(count)

1
2
3
4
5
6
7
8
9
10

# Flow Control

## Condition Statements

In [ ]:
grade = 90
if(grade > 70):
    print ("Passed")
elif(grade < 70):
    print ("Failed")
else:
  print("Passing")

Passed

In [ ]:
#Conditional Statement with input output
grade = int(input("What is your final grade?"))
x = grade
if(x > 70):
    print ("Passed")
elif(x < 70):
    print ("Failed")
else:
  print("Passing")

What is your final grade?68
Failed

# Functions

In [ ]:
#creating a function using def keyword and following proper indentation
hp = 50
def add_hp ():
  global hp
  hp += 50
  print(f"Successfully added hp, Current hp: {hp}")

print(hp)
add_hp()

50
Successfully added hp, Current hp: 100

In [ ]:
#function with input
def create_character(name):
  print(f"your character name is {name}")

create_character('Leep')

your character name is Leep

### Lambda Functions

In [ ]:
add = lambda u, v: u + v
print(add(2,2))

4

In [ ]:
stringl = "Hello World" 
(lambda stringl : print(stringl))(stringl)

Hello World

In [ ]:
elements = [1, 2, 3, 4, 5, 6, 7, 8, 9]
ch = filter(lambda s: s>5, elements)
print(list(ch))

[6, 7, 8, 9]

In [ ]:
prodi = input("Product Item: ")
t1 = float(input("Price: "))
t2 = float(input("Quantity: "))

total = lambda t1, t2 : t1 * t2
(lambda prodi: print(prodi))
(prodi)

print("Total: {}php".format(total(t1, t2)))

Product Item: Coke
Price: 30
Quantity: 2
Total: 60.0php

#***Assignment Deck*** âš“

---

Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00

#Solution

In [ ]:
#emoticons
happy_face, lol_face, sad_face = "\U0001F600","\U0001F923","\U0001F619"

print("Grade Calculator")

#student input
student_name = input("Enter your name: ")
student_course = input("Enter your course: ")
prelim_grade = float(input("Enter your prelim grade: "))
midterm_grade = float(input("Enter your midterm grade: "))
final_grade = float(input("Enter your final grade: "))


#computing the semestral grade
semestral_grade = round((prelim_grade * .30) + (midterm_grade *.30) + (final_grade *.40), 2)

#output
if(semestral_grade < 70):
  print(f"Hello {student_name}, your semestral grade for this term is {semestral_grade} as a {student_course} student. Do not give up! {sad_face}")
elif(semestral_grade > 70):
  print(f"Hello {student_name}, your semestral grade for this term is {semestral_grade} as a {student_course} student. Congratulations! {happy_face}")
elif(semestral_grade == 70):
  print(f"Hello {student_name}, your semestral grade for this term is {semestral_grade} as a {student_course} student. You made it! {lol_face}")

Grade Calculator
Enter your name: karl
Enter your course: cpe
Enter your prelim grade: 95.412
Enter your midterm grade: 90.1244
Enter your final grade: 93.2002
Hello karl, your semestral grade for this term is 92.94 as a cpe student. Congratulations! ðŸ˜€